---
// Component imports and setup JavaScript go here!
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<title>Welcome to Astro</title>
		<style global>
			@import "../styles/global.css";
		</style>
	</head>

	<body>
		<h1 class="p-20 font-medium text-lg">Welcome to another Astro Starter</h1>
	</body>
</html>
